<h3>Welcome to Sinatra! Today is LAB</h3>
<form action="/submit" method="POST">
	<input type="text" name="person[name]" value="Enter Person Name" />
  <input type="date" name="person[birthday]" value="Enter birthday" />
	<input type="submit" value="Submit" />
</form>
