<h1>Farmers</h1>
<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @farmers.each do |f| %>
      <tr>
        <td><%= link_to f.id, farmer_path(f) %></td>
        <td><%= link_to f.name, farmer_path(f) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
