<h1>Messages#new</h1>

<%= form_with(model: [@message.room, @message]) do |f| %>
    <div class="field">
        <%= f.text_field :content %>
        <%= f.submit "send" %>
    </div>
<% end %>

<%= link_to "Back", @message.room %>
