<div id="<%= dom_id itemx %>">
  <p>
    <strong>Dropdown:</strong>
    <%= itemx.dropdown %>
  </p>

  <p>
    <strong>Radiobuttons:</strong>
    <%= itemx.radiobuttons %>
  </p>

  <p>
    <strong>Checkbox:</strong>
    <%= itemx.checkbox %>
  </p>

</div>
