<h1>Listing items</h1>

<%= render "index" %>
<br/>

<div class=btn-group %>
  <%= link_to 'New Item', new_item_path, class: "btn btn-default" %>
  <%= link_to 'Search', search_items_path, class: "btn btn-default" %>
</div>
