<h1>Sessions#welcome</h1>

<% if logged_in? %>
    <h2>You are Logged In, <%= current_user.name %></h2>
    <%= button_to "Logout", '/logout', method: :get%>
<% else %>
    <%= button_to "Login", '/login', method: :get%>
    <%= button_to "Sign Up", '/users/new', method: :get%>
<% end %>
