<h1>Fortune Teller API</h1>

<h3>Welcome</h3>
Welcome to the fortune teller API server. This is a work in progress.

<h4>APIs that return JSON results</h4>
<ul>
  <li>/fortune/random: return a random fortune</li>
  <li>/fortune/<num>: return the nth fortune</li>
</ul>

<h4>URLs with human readable text</h4>
<ul>
  <li>/fortune/help: Display this message</li>
</ul>
