<div data-controller="location" class="d-flex align-items-center flex-column">
  <h1>Coordinates: </h1>
  <div data-location-target="loading" class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <h3><b>Latitude:</b></h3><h3 data-location-target="lat"></h3>
  <h3><b>Longitude:</b></h3><h3 data-location-target="long"></h3>
</div>