<p id="notice"><%= notice %></p>
<h1>Chat Board</h1>
<p class="messages">
    <hr/>
    <div class="message_list">
    <% @messages.each do |m| %>
        <%= render 'message', message: m%>
    <% end %>
    </div>
</p>
<%= render 'form', message: @message%>
